@import 'tailwindcss';
@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-950: #431407;

  --red-600: #dc2626;

  --color-bg: var(--gray-50);
  --color-fg: #000000;

  --color-muted: var(--gray-100);
  --color-muted-fg: var(--gray-700);
  --color-border: var(--gray-200);

  --color-primary: var(--orange-500);
  --color-primary-fg: #ffffff;

  --color-danger: var(--red-600);
}

.dark {
  --color-bg: var(--gray-950);
  --color-fg: var(--gray-50);

  --color-muted: var(--gray-900);
  --color-muted-fg: var(--gray-300);
  --color-border: var(--gray-800);

  --color-primary: var(--orange-400);
  --color-primary-fg: var(--gray-950);

  --color-danger: var(--red-600);
}
