@import 'tailwindcss';

@theme {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;

  --color-bg: var(--color-bg);
  --color-fg: var(--color-fg);
  --color-primary: var(--color-primary);
  --color-primary-fg: var(--color-primary-fg);
  --color-muted: var(--color-muted);
  --color-muted-fg: var(--color-muted-fg);
  --color-border: var(--color-border);
  --color-danger: var(--color-danger);

  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-orange-950: #431407;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-bg: #f9fafb;
  --color-fg: #000000;

  --color-muted: #f3f4f6;
  --color-muted-fg: #374151;
  --color-border: #e5e7eb;

  --color-primary: #f97316;
  --color-primary-fg: #ffffff;

  --color-danger: #dc2626;
}

.dark {
  --color-bg: #030712;
  --color-fg: #f9fafb;

  --color-muted: #111827;
  --color-muted-fg: #d1d5db;
  --color-border: #1f2937;

  --color-primary: #fb923c;
  --color-primary-fg: #030712;

  --color-danger: #dc2626;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-feature-settings: 'cv11';
  }

  button {
    cursor: pointer;
  }
}
